body { 
  margin: 0; 
  font-family: Chivo !important;
  background-image: url("assets/grid-background.png");
  background-image: repeat-y;
  /*padding: 10px;*/
  text-align: center;
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
/*  background-size: 960px 540px;*/
}
/*canvas { width: 640px; height: 360px }*/
canvas { 
  width: 100%; 
  height: 100%; 
}

#import-canvas {
  left: 0px;
  padding: 0px !important;
  width: 100%;
}

img {
  max-width: 100%; /* This rule is very important, please do not ignore this! */
}

/*
button, .button {
  background-color: #c24029;
  border: none;
  color: white;
  background-color: darkgray;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: Chivo !important;
}
*/

/*
#change-orig-button {
  position: absolute;
  top: 20px;
}
#change-scribble-button {
  position: absolute;
  top: 40px;
}
#change-fence-button {
  position: absolute;
  top: 60px;
}
*/


/* This hides all pages */
.page {
    display: none;
}

/* This displays the first page */
.default {
    display: block;
}

/* This displays the page corresponding to the one you clicked on */
:target {
    display: block;
}

/* This hides the default page when another page is clicked */
:target ~ .default {
    display: none;
}

.page-link{
  padding: 10px;
}

#home {
  transform: translate(0, 60%);
  text-align: center;
  vertical-align: middle;
}

#import{
  padding:10px;
}

.menu-icon-link {
  width: 100px;
  height:100px;
  display: inline-block;
  padding: 10px;
}

.menu-icon {
  width: inherit;
  height: inherit;
  display: inherit;
  vertical-align: middle;
  padding: 5px;
  text-align: center;
}

.small-icon {
  width: 40px;
  height: 40px;
}

.page-title {
  left: 0px;
  padding:0px;
  height: 0px;
  text-align: left;
}

.page-title-img {
  height: 30px;
}

#home-link {
  text-align: right;
}

nav {
  display: float;
  vertical-align: middle;
}

button {
  font-family: inherit;
}

#bottom {
  font-size: 20px;
  padding: 10px;
  font-weight: bold;
}

#main-title {
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 2px;
}

.resizable {
  display: inline-block;
  background: red;
  resize: both;
  overflow: hidden;
  line-height: 0;
  z-index: 100;
  }

.resizable img {
  width: 100%;
  height: 100%;
}

#downloads-div p {
    padding: 0px;
}